{% extends "core/base.html" %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h4>Nova Venda</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_cliente" class="form-label">Cliente</label>
                {{ form.cliente }}
            </div>
            <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
    </div>
</div>
{% endblock %}