{% extends "core/base.html" %}

{% block content %}
<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h4>Confirmar Exclusão</h4>
    </div>
    <div class="card-body">
        <p>Tem certeza que deseja excluir "{{ object }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}